<!DOCTYPE html>
<html ng-app="quoteBook">
<head>

	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body ng-controller="mainCtrl">

	<button ng-click="adder(quote)">Add Quote</button>
		<input ng-model="quote.author" placeholder="Author"></input>
		<input ng-model="quote.text" placeholder="Quote"></input>
	<br><br>

	<button ng-click="remover(quoteAuthor)">Remove Quote</button>
		<input ng-model="quoteAuthor" placeholder="Author to Remove"></input>
	<br><br>

	<button ng-click="filterer(filterQuotes)">Filter Quotes</button>
		<input ng-model="filterQuotes" placeholder="Enter Part of Quote"></input>
	<br><br>

	<br><br><br>

	<div ng-repeat="quote in quotes | filter: clickFilter">
		{{quote.author}}: {{quote.text}}
	</div>


	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/mainCtrl.js"></script>
	<script type="text/javascript" src="js/dataService.js"></script>
</body>
</html>
